<div class="ui container" >
  <div class="ui secondary  menu">
    <a class="item" ng-click="back()">Back</a>
  </div>
  <form class="ui form">
    <div class="field">
      <label>Project Name</label>
      <input type="text" ng-model="project.name" placeholder="Enter the project name.">
    </div>
    <div class="field">
      <label>Project Description</label>
      <input type="text" ng-model="project.description" placeholder="Enter the project description.">
    </div>
    <div class="field five wide">
      <label>Donation required</label>
      <input type="text" ng-model="project.required" placeholder="Enter required donation.">
    </div>
    <button class="ui button" type="submit" ng-click="createProject(project)">Submit</button>
  </form>
</div>
